*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  background-color: rgb(155, 205, 160);
  color: rgb(32, 65, 39);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 40px;

}

h1{
  color: darkgreen;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.aplicacion-tareas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-contenedor{
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  width: 190px;
  height: 50px;
}



/* tareas lista principal */

.tareas-lista{
  width: 600px;
  min-height: 500px;
  background-color: rgb(194, 221, 198);
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}